body {
	margin-top: 40px; /* 50px is the height of the navbar - change this if the navbarn height changes */
    text-align: center;
}

li {
	padding-top: 10px;
	padding-bottom: 10px;
}

a {
	padding: 0px;
}

.navbar-nav > li > a {
	padding-top: 0px;
	padding-bottom: 0px;
}

a.navbar-brand {
	padding-top: 0px;
	padding-bottom: 0px;
	
}

div.navbar-header {
	padding-top: 10px;
	padding-bottom: 10px;
}



.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 100px 0px;
	text-align: center;
	
}

.col-md-6 {
	width: 100%;
}

.row {
	margin: 0px;
}

.logo {
	width: 30px;
}